*{
    box-sizing: border-box;
    background-color: rgb(165, 157, 206);
}

body{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin:0;
}

.body{
}

ul{
    list-style-type: none;
    display:flex;
    margin:0;
    padding:0;
}

.header{
    display:flex;
    justify-content: space-between;
}

.top-splash{
    display:flex;
}

.information{
    display:flex;
    flex-direction:column;
}

.cardset{
    display:flex;
}

.card{
    display:flex;
    flex-direction: column;
}

.splashimage{
    height:300px;
    width:auto;
}

.card-image{
    height:150px;
    width:150px;
}